*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

header{
    width: 100%;
    height: 40px;
}

header img{
    margin-left: 30px;
    padding: 1px;
    margin-top: -50px;
    float: inherit;
}

.main-title{
    text-align: center;
    margin-top: 40px;
    font-size: 45px;
    font-family: 'Inter';
    font-weight: bold;
    
    color: #0A3871;
    text-shadow: 10px 10px 25px rgb(228, 225, 217);
}


main{
    width: 100%;
    height:685px;
    display: flex;
    justify-content: space-between;
}

.left_section{
    padding-top: 30px;
    width: 50%;
    margin-left: 201px;
    align-items: center;
    text-align: center;
}

    .text_area{
        background-color: aqua;
        background-color: rgba(0, 0, 0, .25);
        color: white;

        /*position: relative;*/
        width: 800px;
        height: 300px;
        outline: none;
        border: none;
        resize: none;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 30px;
        padding: 15px;
        font-size: 30px;
        text-transform: lowercase;
        align-items: center;
        text-align: center;
    }
    .text_area::placeholder{
        vertical-align: middle;
        color:#343A40;

    }

    .info-textarea{
        font-size: 17px;
        font-style: italic;
        font-weight: 400;
        text-align: center;
        padding: 20px;
        color: #495057;
        opacity: 0.9;
    }

    .buttons{   
        position: relative;
        top: 10px;
    }

    .button_encrypt {
        align-items: center;
        appearance: none;
        background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
        border: 0;
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,monospace;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
        font-size: 18px;
    }
    
    .button_encrypt:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }
    
    .button_encrypt:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        transform: translateY(-2px);
    }
    
    .button_encrypt:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
    }

    .button_decrypt {
        align-items: center;
        appearance: none;
        background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
        border: 0;
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,monospace;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
        font-size: 18px;
    }
    
    .button_decrypt:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }
    
    .button_decrypt:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        transform: translateY(-2px);
    }
    
    .button_decrypt:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
    }

    .button_clean {
        align-items: center;
        appearance: none;
        background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
        border: 0;
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,monospace;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
        font-size: 18px;
    }
    
    .button_clean:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }
    
    .button_clean:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        transform: translateY(-2px);
    }
    
    .button_clean:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
    }

    
.right_section{
    padding-top: 30px;
    width: 50%;
    margin-left: 18%;
    align-items: center;
    text-align: center;
}

    .text_area2{
        background-color: aqua;
        background-color: rgba(0, 0, 0, .25);
        color: white;

        /*position: relative*/
        width: 450px;
        height: 500px;
        outline: none;
        border: none;
        resize: none;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 30px;
        padding: 15px;
        font-size: 30px;
        text-align: center;
        align-items: center;

        padding: 15px;
        font-size: 30px;
        color:#343A40;
    }

    .button_textarea2{
        position: relative;
        top: 20px;
    }

    .text_area2::placeholder{
        color:#343A40;
    }

    .button_copy {
        align-items: center;
        appearance: none;
        background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
        border: 0;
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,monospace;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
        font-size: 18px;
    }
      
      .button_copy:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }
      
      .button_copy:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        transform: translateY(-2px);
    }
      
      .button_copy:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
    }


footer{
    width: 100%;
    height: 80px;
    display: flex; flex-direction: column;
    align-items: center;
    vertical-align: middle;
}

    .logo-linkedin{
        text-align: center;
        width: 50px;
        height: 50px;
        padding: 8px;
}

    .footer_text{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 10px;
        font-size: 12px;
        font-weight: 50px;
    }

.h-divider {
    margin: auto;
    margin-top: 50px;
    width: 90%;
    position: relative;
}
              
.h-divider .shadow {
    overflow: hidden;
    height: 10px;
}
    
.h-divider .shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 23px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
}

@media screen and (max-width: 480px) {

    * {
        
    }

    header {
        width: 100%;
        height: 15%;
        align-items: center;
    }

    body {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 70%;
    }

    main{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100;
    }

    .text_area, .text_area2, .button_textarea2, .buttons, .button_textarea2,.main-title, .info-textarea{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 350;
        height: auto;
        text-align: center;
        align-items: center;
    }

    .left_section{
        margin: auto;
        width: ;
    }

    footer {
        width: 100%;
        height: 10%;
        text-align: center;
        padding-top: 50;
    }    
    
    .logo-linkedin, .footer_text {
        justify-content: center;
    }
 
}